.cp_calendar {
    .fc-widget-header {
        .fc-cell-text {
            font-family: $heading-font;
            font-size: 15px;
            font-weight: 800;
        }
        &.fc-time-area {
            .fc-cell-content {
                padding-left: 4px;
                padding-right: 4px;
                .fc-cell-text {
                    padding: 0;
                }
            }
        }
    }
    .fc-widget-content {
        .fc-cell-text {
            font-family: $heading-font;
            font-size: $defaultFontSize;
        }
    }
    .fc-button {
        @include styledButton();
    }
}